* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAVIGATION BAR STYLES START */

header {
    background-color: #d8c3a5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 65px;
}

header h1 {
    background-color: #eae7dc;
    color: #8e8d8a;
    padding-left: 75px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-right: 10px;
}

header a {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
    letter-spacing: 2px;
}

header nav {
    margin: 15px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 8px 10px;
    font-weight: bolder;
    font-size: 15px;
    color: #8e8d8a;
    margin-right: 10px;
}

header nav ul li a:hover {
    background: #8e8d8e;
    color: #eae7ea;
    border-radius: 10px;
    text-shadow: none;
}

/* HEADER / NAVAIGATION BAR STYLES END */

/* HERO IMAGE */

.hero {
    background-image: url(https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80);
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    height: 200px;
    width: 100%;
}

.hero-cta {
    margin-top: 150px;
    margin-right: 75px;
    padding: 5px;
    background-color: #eae7dc;
    color: #8e8d8e;
    font-size: large;
}

/* HERO IMAGE END  */

/* ABOUT ME SECTION START */

.info-block {
    margin: 30px auto;
    padding-bottom: 0;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info { 
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.info-block h2 {
    text-align: right;
    color: #8e8d8a;
    font-size: 30px;
}

.info-text {
    text-align: left;
    justify-content: center;
    flex: 1;
}

.info-text p {
    color: #8e8d8a;
}

.info-title {
    border-right: solid #8e8d8a;
    padding-right: 15px;
    margin-right: 25px;
}