* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {background-color:#f5f5f5}

/* PORTFOLIO COLOR PALETTE */
:root {
    --primary:#413f44; /* main text on page */
    --secondary: #d1e0f7; /* hover font color */
    --tertiary: #413f44;  /* hover bubble color */
    --quaternary: #d1e0f7; /* background highlight on text */
    --quinary: #d1e0f7; /* text box and outline of image boxes */
    --senary: #d0d0ce; /* header nav background color */
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAVIGATION BAR STYLES START */

header {
    background-color: var(--senary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 65px;
}

header h1 {
    background-color: var(--quaternary);
    color: var(--primary);
    padding-left: 75px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-right: 10px;
}

header a {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
    letter-spacing: 2px;
}

header nav {
    margin: 15px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 8px 10px;
    font-weight: bolder;
    font-size: 15px;
    color: var(--primary);
    margin-right: 10px;
}

header nav ul li a:hover {
    background: var(--tertiary);
    color: var(--secondary);
    border-radius: 10px;
    text-shadow: none;
}

/* HEADER / NAVIGATION BAR STYLES END */

/* HERO IMAGE START */

.hero {
    background-image: url(https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: scroll;
    background-position: 80%;
    height: 200px;
    width: 100%;
}

.hero-cta {
    margin-top: 150px;
    margin-right: 75px;
    padding: 5px;
    background-color: var(--quaternary);
    color: var(--primary);
    font-size: large;
}

/* HERO IMAGE END  */

/* CONTENT SECTION START */

.content-section {
    display: flex;
    justify-content:left;
    align-items: flex-start;
    margin: 30px 0;
}

.content-title {
    margin-left: 35px;
    width:10%;
}

.content-title h2 {
    text-align: right;
    color: var(--primary);
    font-size: 30px;
}

.content-body {
    border-left: solid var(--primary);
    margin-left: 10px;
    padding-left: 20px;
    width: 89%;
    margin-right:75px;
}

.content-body p {
    color: var(--primary);
}

.content-body img {
    border: 6px solid var(--quinary);
    object-fit: cover;
    object-position: 100% 0;
    opacity: 0.8;
}

.content-body img:hover {
    opacity: 1;
}

.main-image {
    position: relative;
}

.main-image img {
    width: 100%;
    height: 120px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.row img {
    height: 120px;
    width: 100%;
}

.row-item {
    position: relative;
    width: 50%;
}

.row-item-1 {
    margin-right: 15px;
}

.image-color-block {
    background-color: var(--quinary);
    color: var(--primary);
    font-size: large;
    position: absolute;
    z-index: 1;
    margin-top: 50px;
    padding: 5px 8px;
}

.image-color-block:hover img {
    opacity: 1;
}

.image-color-block p {
    font-size: 10px;
    padding-top: 5px;
}

.content-body nav {
    padding: 25px 10px;
}

.content-body ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    list-style: none;
}

.content-body nav ul li a {
    padding: 8px 10px;
    font-weight: bolder;
    font-size: 15px;
    color: var(--primary);
    margin-right: 10px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
}

.content-body nav ul li a:hover{
    background: var(--tertiary);
    color: var(--secondary);
    border-radius: 10px;
    text-shadow: none;
}

/* CONTACT SECTION END */

/* MEDIA QUERY START */
@media screen and (max-width: 1250px) {
.content-title h2 {
    font-size: 23px;
  }

.hero-cta h2 {
    font-size: 25px;
  }

.image-color-block h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 970px) {
.content-title h2 {
    font-size: 18px;
  }

.hero-cta h2 {
    font-size: 20px;
  }

header h1 {
    font-size: 28px;
  }

header nav ul li a {
    font-size: 14px;
  }

.content-body p {
    font-size: 15px;
  }

.image-color-block p {
    font-size: 12px;
  }

}

@media screen and (max-width: 830px) {
.content-body nav ul li {
    margin: 10px;
}
}

@media screen and (max-width: 575px) {
.content-title h2 {
    font-size: 15px;
    }

.content-body p {
    font-size: 12px;
    }

.image-color-block h3 {
    font-size: 12px;
    }

.image-color-block p {
    font-size: 10px;
}

.content-body nav ul li a {
    font-size: 12px;
}
}
/* MEDIA QUERY END */